table{
    border: 2px solid rgb(140, 86, 15);
}
th{
    border: 2px solid rgb(140, 86, 15);
}
td{
    border: 2px solid rgb(140, 86, 15);
}
table,th,td{
    border: 2.5px solid rgb(199, 167, 167);
    border-collapse: collapse;
    padding: 10px 10px;
    margin: auto;
    margin-top: 100px;
}
th{
    font-size: 30px;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}
td{
    font-size: 20px;
    color: rgb(18, 34, 2);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 208, 208);
}
h1{
    text-align: center;
    font-size:50px ;
}
